[2020-05-22 15:31] SaiSandeepKantareddy opened #1 "multiple faces"
hi, multiple faces in the real-time video not detected?

[2020-05-22 15:45] chandrikadeb7 commented on #1
Currently, working on that with a real "with_mask" dataset and trying not to implement OpenCV dnn module.

[2020-05-22 15:49] SaiSandeepKantareddy commented on #1
Okay, you are trying to implement the two-class detection? even I am working on it if any help required kindly let me know

[2020-06-02 10:50] geekzain opened #2 "EdgeTPU compatible model (Google Coral)"
Hey there, good work ! Do you have the model that is compatible with the Coral?

[2020-06-03 13:56] chandrikadeb7 commented on #2
https://github.com/chandrikadeb7/Face-Mask-Detection/blob/master/mask_detector.model

[2020-06-03 14:00] geekzain commented on #2
That's for the mask detection, but the face detection is still done by a caffee model. (There's a face detection model provided by coral, but that problem with that is when someone has a mask on, it doesn't detect the face, which means you woun't be able to see the coordinates.)

[2020-06-03 16:07] chandrikadeb7 commented on #2
Yes, the Coral model is not implemented.

[2020-06-04 10:07] rohitnairkp commented on #1
@chandrikadeb7 @SaiSandeepKantareddy Is there any way that the detect_mask_video.py detect multiple faces in a realtime stream with and without masks?

[2020-06-04 10:16] ZIKO94ZIKO opened #4 "model for street view"
Hi @chandrikadeb7  , i need dataset or model support street view detection mask or drone view . any help you can provide would be greatly appreciated. thanks

[2020-06-04 13:50] chandrikadeb7 commented on #1
Have to shift it to YOLOv3 model

[2020-06-04 13:51] chandrikadeb7 commented on #4
You can use Bing Search API to collect relevant images.

[2020-06-04 15:12] ZIKO94ZIKO commented on #4
yes , agree with you , but im asking for provide a dataset already prepared , please if u have one please send it , thank you

[2020-06-05 01:51] rohitnairkp commented on #1
@chandrikadeb7 Will you be uploading the code for that anytime soon with instructions?

[2020-06-05 04:47] warisstyle opened #5 "Face Mask"

[2020-06-05 08:49] #5 closed

[2020-06-05 08:49] chandrikadeb7 commented on #4
https://github.com/chandrikadeb7/Face-Mask-Detection/tree/master/dataset

[2020-06-05 08:49] #2 closed

[2020-06-06 15:22] Alloooshe opened #6 "mask detection method"
Hi, what type of classifier are you using for mask detection?

[2020-06-09 11:58] Monsieurvishal opened #7 "Google collab"
Can we do the same project in Google collab ? Implementing this in google collab will help many students  to learn this project .

[2020-06-12 05:23] pavitrashah opened #8 "Not Detecting Multiple Faces in Video"
When i tried to detect multiple faces while running the video version, it was only able to detect one face at a time.
And when i ran the image version it was successfully able to detect multiple faces and tell whether they were wearing mask or not.
Can you tell me why this is happening? Because its suppose to detect multiple faces. And what could be it's solution.
It would be really great if you c

[2020-06-12 08:22] pavitrashah commented on #8
Hey, so i actually found a solution for this issue.

To fix this we have to remove `face = np.expand_dims(face, axis=0)` from Line 59 and add `faces = np.array(faces, dtype="float32")` & `preds = maskNet.predict(faces, batch_size=32)`  instead of Line 71 in that `if len(faces) > 0:` statement.

The issue was that the predict function is expecting an np array and instead of that we were serving it

[2020-06-12 08:22] pavitrashah commented on #8
Hey, so i actually found a solution for this issue.

To fix this we have to remove face = np.expand_dims(face, axis=0) from Line 59 and add faces = np.array(faces, dtype="float32") & preds = maskNet.predict(faces, batch_size=32) instead of Line 71 in that if len(faces) > 0: statement.

The issue was that the predict function is expecting an np array and instead of that we were serving it a list, a

[2020-06-12 11:57] chandrikadeb7 commented on #8
Please create a PR if its working.

[2020-06-12 15:27] zenjieli opened #9 "ffmpeg library should be installed in order to run detect_mask_video.py"

[2020-06-12 15:32] #9 closed

[2020-06-16 09:22] pavitrashah commented on #8
I have created the PR so just review it and merge if its working for you. And let me know if still there are any issues.

[2020-06-16 13:24] chandrikadeb7 commented on #8
Works fine for me. Thanks!

[2020-06-16 13:24] #8 closed

[2020-06-17 22:06] NKKFu opened #11 "Use case"
Hello, I am a beginner web developer and I would love to create a project similar to yours.

However, because I'm a beginner, I don't know if the MIT license allows me to copy your software or if I need additional permission or something else.

If I can make a copy of your source code, do I need to include thanks, pay for something, or anything else?

Thank you :)

[2020-06-19 06:10] lakshaychhabra commented on #11
It means She is not liable if code fails or something else happens because of the code. You can copy the source code, your choice to include thanks for respect.

[2020-06-19 06:32] #11 closed

[2020-06-19 06:39] chandrikadeb7 opened #12 "Collect more dataset samples of real with_mask images"
The images must not be duplicate of the current dataset

[2020-06-19 09:35] Liuqiyuan670 commented on #12
thanks for your share,but the link to download dataset doesn't work,can you share the dataset in another way?

[2020-06-19 13:36] hacker7599 opened #13 "Multiple Face detection"
The code is working perfectly but there are 2 major issues that are the system is not able to detect multiple faces.
As the name suggests it should be able to detect multiple faces.

[2020-06-19 13:39] hacker7599 opened #14 "0 Accuracy in CCTV footage"
As the code is intended to identify the mask from any video stream, but the major issue is that it is not able to identify "FACE MASK" in the live feeds from the CCTV / DVR / NVR.

[2020-06-19 13:44] hacker7599 opened #15 "Limited mask detection"
The code is only able to detect the mask which is of white color and the mask similar to lighter colors.
I would suggest you to use more dataset of factual images as the data set used was created by an AR program which placed white mask vector file on the images provided to it.

You should seek to this problem in order to say it a perfect model of "Face Mask Detection"

Addition to that I recommen

[2020-06-19 13:48] #13 closed

[2020-06-22 18:03] akshay-dct commented on #12
@Liuqiyuan670 what do you mean by it doesn't work, could you elaborate any issue rising up?

[2020-06-24 09:43] chinglamchoi opened #17 "[SCI] Benchmarking different architectures"
For object detection, it would be interesting for participants to consider different models, e.g. YOLOv4 (https://arxiv.org/abs/2004.10934), YOLOv5 (https://github.com/ultralytics/yolov5), EfficientDet (https://arxiv.org/abs/1911.09070). Implementations of these models in Tensorflow, PyTorch and Darkent are readily available.

[2020-06-26 17:46] chandrikadeb7 opened #19 "Web application for the project"
Please make a PR for Web application of the project.

[2020-06-26 17:50] chandrikadeb7 opened #20 "Fix accuracy of the model"
The model gives false results sometimes for "with mask" when face is covered with hands.

[2020-07-06 15:03] #20 closed

[2020-07-06 15:07] chandrikadeb7 opened #21 "Collect images of coloured masked faces"
Please collect more images of black or coloured masked faces to be included in the dataset.

[2020-07-08 16:40] hdihd9162 opened #23 "chenge size"
hello i want to change out put size in video detection in this line
frame = imutils.resize(frame, width=400)
 can change  width but i cant find height

[2020-07-08 16:48] hdihd9162 commented on #23
width=480
height=800

[2020-07-08 17:15] hdihd9162 commented on #23
and how to change camera input size?

[2020-07-08 17:18] hdihd9162 commented on #23
my camera is wide

[2020-07-16 06:54] LucaBertuolo opened #25 "Video stream from Ip camera"
Please add the ability to process a video from an IP camera...

RTSP protocol will be great...

[2020-07-16 10:56] obplay opened #26 "when the object is too large in the picture,program will crash"
try to add the borders of picture to can be a solution.

[2020-07-16 15:35] #23 closed

[2020-08-02 06:52] sandheepp commented on #21
Any updates on coloured masks?

[2020-08-02 17:58] chandrikadeb7 commented on #21
Not yet

[2020-08-05 05:42] AsadFarooq5777 opened #29 "Face with Beard"
In case of beard algorithm predict face with Mask but there is no mask on face

[2020-08-06 17:46] aaramg commented on #26
@obplay have you solved the problem?? Could you provide the code?

[2020-08-12 18:36] AmmarRashed commented on #29
I suppose you could add more faces with beards in the "without_mask" folder. That should help the model distinguish better between a beard and a mask.
An example dataset:
https://github.com/Keshav-Aggarwal/Beard-Face-Dataset/blob/master/Beard%20Dataset.zip
There is also faces in disguise dataset:
https://neurohive.io/en/datasets/disguised-face-recognition/

[2020-08-15 15:29] MeanAbzoluteError opened #31 "KeyError: 'acc' when saving model in Google Colab"
I was using Google Colab to train a model so I could try it on my laptop, however, when saving the model this error occurs, I'm using a GPU

[code]

**Previous Steps**

- Cloned the repository

- Downloaded requirements

- Ran `python3 train_mask_detector.py --dataset dataset`

**Verbose Output**

[code]

[2020-08-20 05:29] livealive7 commented on #31
H.history["acc"] -> H.history["accuracy"]
H.history["val_acc"] -> H.history["val_accuracy"]

[2020-08-25 10:18] NomadicCode commented on #26
same issue here

[2020-08-25 10:19] NomadicCode commented on #26
here's the output ```py
2020-08-25 18:16:48.487408: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file: No such file or directory
2020-08-25 18:16:48.487451: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on yo

[2020-09-12 04:31] jforjay1 opened #33 "Not all images are able to process"
if I process the below image it gives an error of Assertion failed in OpenCV.

Error:
File "detect_mask_image.py", line 105, in <module>
    mask_image()
  File "detect_mask_image.py", line 76, in mask_image
    face = cv2.cvtColor(face, cv2.COLOR_BGR2RGB)
cv2.error: OpenCV(4.2.0) C:\projects\opencv-python\opencv\modules\imgproc\src\color.cpp:182: error: (-215:Assertion failed) !_src.empty() in fu

[2020-09-13 07:15] naushadck opened #34 "Accuracy - Mask and Withoutmask %"
There is one issue with this model or prediction.

The % of the mask and withoutmask % is inconsistent.  It varies to the same position pf the mask.

What is the solution for this ?...

[2020-09-15 14:02] chandrikadeb7 commented on #29
Closing issue as adding more dataset will solve the problem.

[2020-09-15 14:02] #29 closed

[2020-09-15 14:05] chandrikadeb7 commented on #34
Use reshuffling of samples.

[2020-09-15 14:05] #34 closed

[2020-09-22 03:16] Shubhamsm commented on #33
[https://github.com/ageitgey/face_recognition/issues/933](url)
you can check the same issue here. Image is not loading in this case.

[2020-10-10 05:34] nishanttyagi opened #36 "video stops frequently with error (-215:Assertion failed) !_src.empty() in function 'cvtColor'"
How can I use IP camera for streaming and video stops frequently with following error.

Traceback (most recent call last):
  File "detect_mask_video.py", line 116, in <module>
    (locs, preds) = detect_and_predict_mask(frame, faceNet, maskNet)
  File "detect_mask_video.py", line 55, in detect_and_predict_mask
    face = cv2.cvtColor(face, cv2.COLOR_BGR2RGB)
cv2.error: OpenCV(4.2.0) /Users/travis/

[2020-10-12 13:17] hacker7599 commented on #25
It's very easy just get the rtsp stream URL and replace '0' with the rtsp protocol in single quotes in
"vs = VideoStream(src=0).start() " function where the

[2020-10-21 13:46] AmeyaUpalanchi commented on #19
Done 👍

[2020-10-30 07:23] Prabhav55221 opened #39 "Deployment Issues"
Hi!

I have a simple question. How did you manage to deploy this on Heroku? I tried doing the same but faced a slug size issue.

[2020-10-30 19:39] dev-ahmed-ibrahim opened #40 "Help with Working Instructions"
When I run working commands, I got the following errors:

C:\Users\Ahmed Ahmed\Face-Mask-Detection>python train_mask_detector.py --dataset dataset
2020-10-30 21:33:55.095518: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
Traceback (most recent call last):
  File "train_mask_detector.py", line 5, in <module>
    from tensorflow.

[2020-11-09 14:19] mvssanjay007 commented on #26
import cv2 as cv
img=cv.imread('w.jpg',0)
w,h=img.shape
img=cv.resize(img,(h//10,w//10))
cv.imwrite('w1.jpg',img)

You can try this with varying filenames and ratios(Here I used 10, you can use your ratio)

[2020-11-12 21:13] Rich2020 opened #41 "Tensorflow-lite"
Any way to get the `detect_mask_video.py` or `detect_mask_image.py` working with Tensorflow lite? I don't need to train the model - I just want to run it.

[2020-11-16 10:09] LeeKyungwook opened #42 "cpu speed"
Hi
I have a quesion about inference speed. I check inference speed in cpu
Then, speed is 30~40ms. I think it is too slow while using mobilenetv2.
Is this speed correct?

[2020-11-16 10:20] LeeKyungwook opened #43 "same code"
I found same code but different github.
https://github.com/micaelillos/Mask-Detection
who is first?

[2020-11-17 05:15] npc203 commented on #43
I think this one is the original based on the date of the commits made in the repos, but then again, not sure

[2020-11-17 10:05] Mony24 opened #44 "Face Mask detection Error"
Getting following error
sudo python3 detect_mask_video.py
2020-11-17 14:44:36.808007: E tensorflow/core/platform/hadoop/hadoop_file_system.cc:132] HadoopFileSystem load error: libhdfs.so: cannot open shared object file: No such file or directory
..............
Traceback (most recent call last):
  File "detect_mask_video.py", line 98, in <module>
    maskNet = load_model(args["model"])
  File "/usr

[2020-11-23 08:55] taran9873 opened #45 "typos identified and fixed and huge difference in accuracy on google colab"
some errors faced and resolved

file: train_mask_detector.py

line no. 149 `plt.plot(np.arange(0, N), H.history["acc"], label="train_acc")`
it gives KeyError.

solution:
plt.plot(np.arange(0, N), H.history["**accuracy**"], label="train_acc")

similarly
line no. 150 `plt.plot(np.arange(0, N), H.history["val_acc"], label="val_acc")`
it also gives KeyError.

solution:
plt.plot(np.arange(0, N), H.hist

[2020-12-01 13:58] mortezardana opened #46 "accuracy"
Hi all,
I tried to test this model with different sizes of dataset. What I've done is to randomly select 1, 5, 10 or 20 % of the original dataset and training the model with train_mask_detector.py, but the accuracy value that is shown in the end of training is very odd. these are my results after training the model three times ( because I thought these numbers are wrong and wanted to make sure it

[2020-12-01 16:11] #43 closed

[2020-12-01 18:54] theic3 opened #47 "difficulty detecting "black" hex:#000000 colored masks on raspberry pi pycamera"
Hi,

Trying the detect_mask_video.py on a Raspberry Pi for "black" #000000 colored masks results in a time delay for mask detection or inability to detect a face at all. Using a grey mask, the detection is quick and accurate. Is there a known or potential issue with trying to detect a black mask?

[2020-12-10 00:51] #47 closed

[2020-12-10 02:20] vinamramunot-tech commented on #44
@Mony24 I have the same error

[2020-12-14 03:55] Aashish1106 opened #48 "permission required"
while executing this command **python3 train_mask_detector.py --dataset dataset** its showing permission denied so if possible rectify this issue

[2020-12-19 09:37] Frightera commented on #46
Because your neural network is initialized with random values of weights, it means that then you'd have different starting points per each simulation during the training phase.

[2020-12-24 17:17] chandrikadeb7 opened #49 "Improve the documentation by adding awards/achievements section"
Please share a defined layout for the Readme documentation of this repo. For the details to be added, I'll send the necessary images.

[2020-12-24 17:19] chandrikadeb7 opened #50 "Make the complete Wiki of the repo describing the project pipeline and architecture."

[2020-12-24 17:20] chandrikadeb7 opened #51 "Add new entries for coloured masks in dataset folder"

[2020-12-24 17:22] chandrikadeb7 opened #52 "Alarm system when "No Mask" detected"
Implement an alarming system when the camera detects "No Mask" in real-time video streams.

[2020-12-24 17:25] chandrikadeb7 opened #53 "Implementation in Rasp Pi"
Please create a go-to-code folder comprising the necessary codes to detect masks using Rasp Pi.

[2020-12-24 19:43] keshav340 commented on #51
Can  I do this

[2020-12-25 14:21] Adityanagraj commented on #52
In  this alarm system we have to use any IOT system or any ALERT message with audio enabled is fine !!!

[2020-12-25 15:08] vaishnavi-1 commented on #51
I can do this, assign it to me.

[2020-12-25 17:25] chandrikadeb7 commented on #52
Alert with audio is alright!

[2020-12-25 17:26] chandrikadeb7 commented on #51
@keshav340 @vaishnavi-1 Please mention the different colours that you want to add for the masks dataset. Also the number of images.

[2020-12-25 18:34] vaishnavi-1 commented on #51
@chandrikadeb7 I can add 50-60 images of yellow and 50-60 images of red coloured masks.

[2020-12-25 19:01] keshav340 commented on #51
I can add  150-200 images of green, red, yellow, and mixed colored masks.

[2020-12-26 10:15] anushka23g commented on #49
Hey, I would like to do it, kindly do assign me this issue.

[2020-12-26 10:19] Manikanta05 opened #54 "Display ratio / count of who have wore the mask out of persons recognised"
Displaying the total count/ratio of persons who have wore mask out of total count of persons recognised .

[2020-12-26 14:14] khushibalyan220101 commented on #21
Can i add coloured masks photos in the images folder..

[2020-12-26 14:24] Anu-MADMAX commented on #54
I'm interested . How can I get started

[2020-12-26 14:50] chandrikadeb7 commented on #51
You can proceed!

[2020-12-26 14:50] chandrikadeb7 commented on #51
Proceed with exceptions to @vaishnavi-1 's colours choices.

[2020-12-26 14:53] chandrikadeb7 commented on #54
@Manikanta05 @Anu-MADMAX please define a possible layout for this solution. After that I'll assign the issue and tags.

[2020-12-26 15:04] vilsi12 commented on #49
can you assign me
this

[2020-12-26 15:19] chandrikadeb7 commented on #49
Sure! Attaching the resources here.

[2020-12-26 17:19] Anu-MADMAX commented on #54
Hi! Thanks for assigning me this issue , I'm a beginner so could u help on
where i should begin?

On Sat, Dec 26, 2020 at 8:24 PM Chandrika Deb <notifications@github.com>
wrote:

[2020-12-26 18:22] anushka23g commented on #49
Hey, can you assign this to me too?

[2020-12-27 13:32] Jaz0206 opened #55 "Moving the Arduino motor to open door if the Mask is detected"
I want to put hands on to open door at entrance if a person is wearing mask

[2020-12-27 13:40] Bijay555 commented on #50
Can you tell me more about it? @chandrikadeb7

[2020-12-28 04:20] akrish4 commented on #39
@Prabhav55221  we can deploy to heroku using flask.

[2020-12-28 13:10] meenal2000 commented on #52
Hey ,
Can you assign this issue to me ? I want to work on this . Thank you.

[2020-12-28 15:12] ritikchinu commented on #52
Hey, i can solve this issue by raising an alert dialog with audio. So if you can assign it to me.
Thank you

[2020-12-28 15:15] sahebsunny commented on #53
Mam, it's Interesting I have done a similar project but never thought of Implementing it in Rasp Pi
Let me work on it

[2020-12-28 15:19] sahebsunny commented on #52
Mam, I worked on a very similar project with the alarm system,
Let me work on it

[2020-12-28 18:34] ritikchinu opened #56 "Creating an automated mask dispenser"
Implementation of an automated mask dispenser that dispenses mask for any person who is not wearing a mask. This kind of solution can be used by shopping complexes etc.

[2020-12-29 04:42] chandrikadeb7 commented on #49
This issue is already assigned. If it remains inactive for more than 7 days, it will be assigned to you.

[2020-12-29 04:45] chandrikadeb7 commented on #53
Okay good luck!

[2020-12-29 05:14] anushka23g commented on #49
okay

[2020-12-29 17:33] muthuannamalai12 opened #61 "Create Code of Conduct. md"
Hi,
I found that this project repository is not having a code of conduct file in this repository, kindly assign me this issue and I would like to contribute a well-formatted code of conduct file as you know code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2020-12-29 17:34] muthuannamalai12 commented on #61
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2020-12-31 05:57] Pranjal-2001 commented on #50
I am interested. Can you guide me about it?

[2020-12-31 07:06] chandrikadeb7 commented on #61
@muthuannamalai12 you can proceed, thanks!

[2020-12-31 07:07] chandrikadeb7 commented on #50
Look for the resources of this project in Readme. You can get an idea from the PyImageSearch blog on face mask detection. Rest will be provided by me. Let me know if you can proceed with it. Thanks!

[2020-12-31 16:25] muthuannamalai12 commented on #61
I have created a pull request.Kindly review it

[2020-12-31 17:32] Abhinav-B-19 commented on #51
Can I solve this issue. I can add 150 -200 images of blue, pink, black and brown colored masks

[2021-01-01 07:15] chandrikadeb7 opened #66 "Create a help guide for running the project in Windows OS"
Documentation should include detailed steps including screenshots.

[2021-01-01 07:38] #61 closed

[2021-01-02 07:40] muthuannamalai12 opened #67 "Add Contributors.md file"
Hai,
I would like to add Contributors.md file in your project in the form of a table and display a link to it in README.md

[2021-01-02 07:40] muthuannamalai12 commented on #67
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-02 14:25] chandrikadeb7 commented on #67
@muthuannamalai12 Go on!

[2021-01-02 15:40] muthuannamalai12 commented on #67
I have created a pull request.Kindly review it

[2021-01-02 17:34] #67 closed

[2021-01-03 17:28] chetak123 commented on #50
Can i work on this issue please ?

[2021-01-04 12:32] M-PRERNA commented on #66
Hi there,
I am a SWOC participant, can you assign me this issue? I'll be making the PR once the Program begins, that is after 5th January.

[2021-01-05 16:10] himanshu007-creator commented on #66
Mam, i am a participant in both swoc and dwoc. Please add SWOC and assign me this issue

[2021-01-05 18:05] kritikashah20 commented on #49
Hey, I am a participant of SWOC. I want to know is this issue under SWOC as well? If yes,  can you assign me this issue?

[2021-01-05 18:34] spursbyte opened #71 "Using inception v3 architecture to train the model{SWOC21}"
Inception V3 can provide better accuracies to the model.So can you assign me this issue?

[2021-01-06 13:44] Aayush-hub commented on #52
@chandrikadeb7Mam, I want to work on, can you please assign me this.

[2021-01-06 18:05] muthuannamalai12 opened #72 "Integrate welcome bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

If you feel this is a great idea!
Please assign it to me.

[2021-01-06 18:06] muthuannamalai12 commented on #72
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 05:50] #49 closed

[2021-01-07 05:52] #51 closed

[2021-01-07 05:53] chandrikadeb7 commented on #72
@muthuannamalai12 You can proceed!

[2021-01-07 05:54] chandrikadeb7 commented on #71
@spursbyte You can proceed!

[2021-01-07 06:01] chandrikadeb7 commented on #66
@M-PRERNA proceed!

[2021-01-07 06:02] chandrikadeb7 commented on #52
@meenal2000 Are you still working on it?

[2021-01-07 06:03] chandrikadeb7 commented on #53
@sahebsunny Are you still working on it?

[2021-01-07 06:04] chandrikadeb7 commented on #50
@chetak123 proceed!

[2021-01-07 06:39] chandrikadeb7 opened #73 "Replace demo link in Readme file"
Replace the YouTube demo link with: https://youtu.be/wYwW7gAYyxw

[2021-01-07 06:40] chandrikadeb7 opened #74 "Update number of images in Dataset section of Readme"
Update the dataset section with present number of images in dataset folder of the repo.

[2021-01-07 06:43] chandrikadeb7 opened #75 "Insert Google Collab working link of this project in Readme"
- [ ] Integrate this project on Google Collab
- [ ] Include the project link along with mentioning the accuracy of the model in Readme file

[2021-01-07 07:23] M-PRERNA commented on #66
okay ma'am
Do we have a slack channel for this project?

[2021-01-07 07:38] Purvanshsingh commented on #73
assign it to me for SWOC.

[2021-01-07 07:40] Purvanshsingh commented on #75
Please assign it to me for SWOC.

[2021-01-07 07:43] chandrikadeb7 commented on #66
Yes. Please join.

[2021-01-07 07:52] Purvanshsingh commented on #75
@chandrikadeb7 Please correct me is I am wrong,
I have to create a collab notebook for train_mask_detector.py, right?

[2021-01-07 09:21] sahebsunny commented on #53
mam sorry for the delayed response
I need some suggestions, I think the code will work in Rasp Pi. It may need some changes but I can not able to check as I am still at home and I don't have the kits or the board.
Thank you for your response.

[2021-01-07 09:23] sahebsunny commented on #52
@chandrikadeb7 Mam If it's open please let me as I worked on a similar project and Implemented an Alarm system in it.

[2021-01-07 09:41] #73 closed

[2021-01-07 09:42] chandrikadeb7 commented on #75
Yes

[2021-01-07 09:43] chandrikadeb7 commented on #53
Okay no problem. You can check on other issues meanwhile. :)

[2021-01-07 09:46] Purvanshsingh commented on #75
okay, will do it.

[2021-01-07 09:46] chandrikadeb7 opened #77 "Update Contributors.md file"
Update the file with new contributors with the help of some dependabot/action bots.

[2021-01-07 10:40] Abhinav-B-19 commented on #74
Can you assign this issue to me. I am a SWOC participant.

[2021-01-07 11:37] IndraP24 opened #78 "Update Web App styling and hosting!"
### The web app created with Streamlit has few caveats and I want to *try and update* them, namely -

### Note: Converting to a dark-theme for the sidebar requires `streamlit==0.71.0`

#### I would also recommend hosting the Web App through **streamlit-sharing** for faster response.

[2021-01-07 11:55] muthuannamalai12 commented on #72
I have created a pull request. Kindly review it

[2021-01-07 14:28] meenal2000 commented on #52
@chandrikadeb7 Hey, no . I have stopped working on it. You may assign to someone else.

[2021-01-07 14:38] #72 closed

[2021-01-07 14:40] chandrikadeb7 commented on #52
Assigning you @ritikchinu Proceed!

[2021-01-07 15:16] #56 closed

[2021-01-07 15:17] ritikchinu commented on #52
hey please unassign this issue as I have already other issues assigned to me.

[2021-01-07 16:17] chandrikadeb7 commented on #52
@sahebsunny Proceed!

[2021-01-07 17:22] muthuannamalai12 opened #80 "Create Issue Template"
Hai,
I would love to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal .

[2021-01-07 17:23] muthuannamalai12 commented on #80
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 17:24] muthuannamalai12 commented on #77
Can I do it using this website https://contrib.rocks/preview which can auto generate contributor images just by giving the repository name

[2021-01-07 17:25] muthuannamalai12 commented on #77
The output will be like
![Contributor](https://user-images.githubusercontent.com/64524822/103923677-64250480-513b-11eb-9311-cbcb6242c783.png)

[2021-01-07 17:25] muthuannamalai12 commented on #77
I f you like it I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-07 17:58] pavan2131 commented on #75
Plz assign me

[2021-01-08 07:23] chandrikadeb7 opened #81 "Update License as MIT License"
Remove the OIN license and include MIT license.

[2021-01-08 10:04] muthuannamalai12 commented on #80
I have created a pull request. Kindly review it

[2021-01-08 17:09] shubhraagarwal commented on #81
I would like to resolve this issue. Can you assign it to me?

[2021-01-08 19:19] Rahul555-droid commented on #75
Hi chandrika is there any other script that needs to be made into a notebook/colab ?

[2021-01-09 14:46] #80 closed

[2021-01-09 17:27] #81 closed

[2021-01-10 16:25] akrish4 commented on #77
Yes I can add a file for the same and add all contributors in it `CONTRIBUTORS.md` in a tabular format with their image and name in each table
Kindly do assign me @chandrikadeb7

[2021-01-11 04:44] TanweerulHaque commented on #71
Can you assign me the issue if it's still not done ??

[2021-01-11 04:59] spursbyte commented on #71
It has been assigned to me .

[2021-01-11 12:07] ltkhang opened #84 "How can I cite your work?"
## 📚 Documentation

(A clear and concise description of what the issue is.)
Dear author,

I am going to use your dataset as a part of my work, so how can I cite your work?

I can't find any "citation" part in your README.

Hope to hear from you soon.

Best regards,

[2021-01-11 22:12] Soxi-T opened #85 "ID of faces detected"
**PROPOSAL**
A face ID feature that displays the ID to respective faces on the frame.

Example:

If one person is detected, assign this ID as 0, and display this ID on the bounding box. Whenever a second, third, etc. person enters frame, assign them an ID as 1, 2, and so on, with the ID displaying on the bounding box of their face.

**USE CASE**
This feature could be useful in filtering out false

[2021-01-12 15:38] chandrikadeb7 commented on #84
Updating soon!

[2021-01-12 15:40] chandrikadeb7 opened #86 "Create a Citation Section in Readme file"
## 📚 Documentation

Draft a citation for other developers to use any part of this projec repo (code or dataset).

[2021-01-13 18:46] TanweerulHaque commented on #71
@chandrikadeb7 If it's still not done, can I proceed with it ??

[2021-01-14 03:10] Sobhit25 commented on #86
Can, I take up this issue.

[2021-01-14 04:59] Pranjal-2001 commented on #86
Could you please assign it to me?

[2021-01-14 05:52] Aayush-hub opened #88 "Add Notification pop-up system when 'No Mask' detected."
## 🚀 Feature

Create notification pop-up when no mask detected.

## Pitch

Create and add notification pop-up system to notify the admin that a person with no mask is detected.

[2021-01-14 05:54] Aayush-hub commented on #88
@chandrikadeb7 Mam can you please assign me , to add this new feature as a SWOC participant!

[2021-01-14 06:35] Sumanpal3108 commented on #74
I want to work on this issue. Please assign it to me. I am a dwoc participant

[2021-01-14 08:48] kritikaparmar-programmer commented on #50
@chandrikadeb7 Please assign me this issue. I'm willing to work on it.

[2021-01-14 08:49] kritikaparmar-programmer commented on #66
@chandrikadeb7 I want to work on this issue.

[2021-01-14 10:47] muthuannamalai12 opened #90 "PR TEMPLATE"
## 🚀 Feature
I can add a pr template , which will have few checklists and options like uploading screenshots and describing about the pr etc , which will give better understanding of pr for the maintainer
(A clear and concise description of what the feature is.)

## Motivation
Self Motivation
(Please outline the motivation for the proposal.)

## Pitch
This is a great feature like issue template in

[2021-01-14 13:45] Halix267 opened #91 "Create a welcome bot for the repo."
## 🚀 Feature
Welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request.

[2021-01-14 13:45] #91 closed

[2021-01-14 14:48] muthuannamalai12 commented on #90
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-15 04:45] samir-0711 opened #92 "Add Contributors Table in README.md"
## 📚 Documentation

To make README.md file beautiful and give credit to contributors
Like this
![image](https://user-images.githubusercontent.com/68433936/104682288-53b3f180-571a-11eb-89e0-7162eaf98b46.png)

[2021-01-15 04:45] samir-0711 commented on #92
I would like to work on this.

[2021-01-16 08:52] chandrikadeb7 commented on #90
Proceed!

[2021-01-16 09:08] chandrikadeb7 commented on #75
What's the progress?

[2021-01-16 09:09] chandrikadeb7 commented on #77
As a part of DWOC or SWOC?

[2021-01-16 09:09] chandrikadeb7 commented on #77
Hi, just a request that others should also contribute.. will assign you after you complete the existing assigned issues :)

[2021-01-16 09:10] chandrikadeb7 commented on #92
Duplicate of issue #77

[2021-01-16 09:11] chandrikadeb7 commented on #86
What's the progress? If left undone in 7 days I'll pass the assignment to others.

[2021-01-16 09:38] TanweerulHaque commented on #54
@chandrikadeb7 I know how to proceed with this issue. Can you assign me the same?? I am SWoC participant.

[2021-01-16 09:42] akrish4 commented on #77
both

[2021-01-16 10:11] muthuannamalai12 commented on #90
I have created a pull request. Kindly review it

[2021-01-16 11:54] Aayush-hub opened #95 "Add Github Actions"
## 🚀 Feature

Add Github Actions for first time contributors.

[2021-01-16 11:56] Aayush-hub commented on #95
@chandrikadeb7 Mam this feature will make project attractive for first time contributors to this project. I can work on it, can you please assign me this? #SWOC

[2021-01-16 12:48] RaghavModi opened #96 "Improve accuracy using ResNet50 v2."
I believe using ResNetv2 can improve the accuracy of the model significantly. I wish to try this as a part of SWOC 2021. Can you please assign this issue?

[2021-01-16 14:53] vilsi12 commented on #86
Please assign to me

[2021-01-16 16:17] Sobhit25 commented on #86
Mam, I pressed the unassigne button by mistake,pl do assign me again.

[2021-01-16 18:52] shatakshisingh24 opened #97 "Adding a contributor's table in ReadMe"
I can add a contributor's table in Readme file, like this one.

![image](https://user-images.githubusercontent.com/51313537/104820300-dabbb380-5859-11eb-9114-6fb883849d86.png)

Kindly assign me this issue, with label DWOC and Level-1 or 2

[2021-01-16 20:07] SinghShreya05 commented on #96
@chandrikadeb7 Ma'am I've worked on these, kindly assign me this issue. I'm an SWOC participant

[2021-01-17 06:03] Purvanshsingh commented on #75
It's almost done Just having some doubts will ping you regarding that today.

[2021-01-17 15:50] #90 closed

[2021-01-17 15:51] chandrikadeb7 commented on #86
Please make the PR soon, it's urgent for this issue.

[2021-01-17 15:52] #54 closed

[2021-01-17 15:54] #92 closed

[2021-01-17 15:55] chandrikadeb7 commented on #71
What's the progress?

[2021-01-17 16:15] spursbyte commented on #71
Yes on it..delayed due to online sems. Started working already

[2021-01-18 17:00] #78 closed

[2021-01-19 07:21] TanweerulHaque commented on #75
If there's no work done, I can complete it by today. I know how to do it. @chandrikadeb7 Kindly assign me this issue.

[2021-01-19 14:11] TanweerulHaque commented on #75
@chandrikadeb7 If there's no work done, I can complete it by today. I know how to do it. Kindly assign me this issue.

[2021-01-19 16:11] #52 closed

[2021-01-20 06:16] #96 closed

[2021-01-20 06:57] alicera opened #101 "data"
where isda the data annotation information?

[2021-01-20 20:44] TanweerulHaque commented on #75
I have sent a PR @chandrikadeb7 Please review it.

[2021-01-21 16:32] TanweerulHaque commented on #75
@chandrikadeb7 Please see to this.

[2021-01-21 21:01] Defcon27 commented on #53
Hey, I am an SWOC participant , I have a Pi and Jetson Nano, so I want to take up this issue, Could you please elaborate what needs to be done on this issue

[2021-01-29 18:49] Amit366 commented on #97
Is this issue open??

[2021-01-30 04:59] Amit366 commented on #77
Is this issue open?? @chandrikadeb7

[2021-01-30 06:39] chandrikadeb7 commented on #77
yes

[2021-01-30 06:42] chandrikadeb7 commented on #97
@shatakshisingh24 What's the progress?

[2021-01-30 06:43] Amit366 commented on #77
Is it like adding contributor's names to read me??

[2021-01-30 06:44] #86 closed

[2021-01-30 06:46] #75 closed

[2021-01-30 06:48] #88 closed

[2021-01-30 06:51] #71 closed

[2021-01-30 06:55] chandrikadeb7 commented on #77
@akrish4 What's the progress?

[2021-01-30 06:55] chandrikadeb7 commented on #77
Yes to the file

[2021-01-30 06:55] chandrikadeb7 commented on #66
@kritikaparmar-programmer What's the progress?

[2021-01-30 06:56] muthuannamalai12 commented on #77
I have completed the previous issue If you want I can do it

[2021-01-30 07:28] Amit366 commented on #77
@chandrikadeb7 please review the PR

[2021-01-30 09:05] Amit366 commented on #77
@chandrikadeb7 please review the PR.

[2021-01-30 10:26] jatinjain001 commented on #74
I would like to work on it

[2021-01-30 11:35] kritikaparmar-programmer commented on #66
Hey, @chandrikadeb7  will submit a pr today.

[2021-01-30 11:38] kritikaparmar-programmer opened #106 "Adding a proper .gitignore file"
## 🚀 Feature
I want to add a proper .gitignore file
## Motivation
some files like .vscode and virtual environments other than venv are getting tracked right now.
## Pitch
I'll add a proper .gitignore file.

[2021-01-30 11:39] kritikaparmar-programmer commented on #106
Hey, @chandrikadeb7 please assign me this.

[2021-02-01 07:01] AnshMishra2001 commented on #85
Can I work on this issue?

[2021-02-01 15:03] Soxi-T commented on #85
Of course! I have found a solution using Adrian from pyimagesearch's centroid tracking solution; however, an original solution for this would be great!

[2021-02-02 08:16] Ddnnff opened #109 "Arduino"
## 📚 Documentation

(A clear and concise description of what the issue is.)

[2021-02-02 13:23] smriti1313 commented on #106
Hi If there's a chance of me working then i would if you could assign this to me. Thanks.

[2021-02-04 15:30] #77 closed

[2021-02-04 15:31] #66 closed

[2021-02-04 15:32] #95 closed

[2021-02-04 15:33] chandrikadeb7 commented on #74
Proceed!

[2021-02-04 15:33] #97 closed

[2021-02-04 15:35] #109 closed

[2021-02-04 15:36] chandrikadeb7 commented on #84
Description is in Readme

[2021-02-04 15:36] #84 closed

[2021-02-04 15:36] #12 closed

[2021-02-04 15:36] #14 closed

[2021-02-04 15:37] #15 closed

[2021-02-04 15:37] #19 closed

[2021-02-04 15:37] #36 closed

[2021-02-04 15:37] #45 closed

[2021-02-04 15:37] #46 closed

[2021-02-04 15:38] #44 closed

[2021-02-04 15:39] chandrikadeb7 commented on #50
What's the progress?

[2021-02-04 15:39] #17 closed

[2021-02-04 15:39] #21 closed

[2021-02-04 15:39] #25 closed

[2021-02-04 15:40] #40 closed

[2021-02-04 15:40] #41 closed

[2021-02-04 15:40] #26 closed

[2021-02-04 15:40] #33 closed

[2021-02-04 15:41] #39 closed

[2021-02-04 15:41] #42 closed

[2021-02-04 15:41] #48 closed

[2021-02-04 15:41] #55 closed

[2021-02-06 14:53] jatinjain001 commented on #74
Okay

[2021-02-07 07:23] #74 closed

[2021-02-07 07:25] chandrikadeb7 opened #111 "Update Pull Request greeting action"
## 🐛 Bug Report

The action implemented is failing to give the expected greeting message.

[2021-02-07 07:45] chandrikadeb7 opened #112 "Add the links in Readme where this repo is cited in research papers"
## 📚 Documentation

Search for the citations given to this repository in Google Scholar etc. and add the links in the Readme under Cited By section (new)

[2021-02-07 10:54] samratkumardey commented on #112
The following research article cited this repository with proper permission by the Author
https://link.springer.com/chapter/10.1007%2F978-981-33-4673-4_49

[2021-02-08 18:26] vinamramunot-tech commented on #44
I actually found the solution for this. @chandrikadeb7 Please let me know if you would like a solution for this. I have written this for raspberry pi running raspbian OS 32-bit.

[2021-02-12 05:39] divyasri77 opened #113 "project logo creation"
## 🚀 Feature

It has no logo in the project list page

## Motivation

To bring a catchy outline

## Pitch

If we add a logo it will be catchy for the contributors

[2021-02-12 07:24] chandrikadeb7 commented on #113
Hello @divyasri77 Are you contributing as part of DWOC?

[2021-02-12 08:28] divyasri77 commented on #113
yes

[2021-02-12 08:30] divyasri77 commented on #113
Can I create a logo

[2021-02-13 04:40] chandrikadeb7 commented on #113
Proceed!

[2021-02-13 04:56] divyasri77 commented on #113
![Face MaSK DETECTION](https://user-images.githubusercontent.com/68841372/107841983-cc739f80-6de5-11eb-8e14-60a290d098bf.png)
check this

[2021-02-14 09:31] m-code12 opened #114 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 09:32] m-code12 commented on #114
@chandrikadeb7 I would like to work on this as a part of DWOC.

[2021-02-15 06:22] kanishkaa24 commented on #112
Hey! Can I work on this issue?

[2021-02-15 06:22] kanishkaa24 commented on #113
Hey! Can I work on this issue ?

[2021-02-16 11:44] BhendiBoi commented on #55
I am new to github and have barely any knowledge about python. i know this issue is closed, but you could find a way to get the results of the detect_mask_video.py program and then send the result to the arduino board via the serial monitor with the pyserial module. for information on the module this should suffice. https://www.youtube.com/watch?v=iKGYbMD3NT8

[2021-02-17 07:31] kanishkaa24 commented on #112
Hey, I could find these
https://reposhub.com/python/deep-learning/chandrikadeb7-Face-Mask-Detection.html
https://rahul-maheshmaheshwari.medium.com/real-time-face-and-mask-on-off-detection-aec80b7920cc
https://www.covid19dataindex.org/details?id=1371
https://site-1172855.mozfiles.com/files/1172855/94878716588.pdf
Please tell me if they are fine.

[2021-02-17 15:45] Vrushti24 commented on #113
Hey is still this issue open ..?? @chandrikadeb7 I want to work on this

[2021-02-18 08:09] chandrikadeb7 commented on #113
Design your logo and paste here, I will approve the best one.

[2021-02-18 08:09] chandrikadeb7 commented on #113
Design your logo and paste here, I will approve the best one.

[2021-02-18 08:11] chandrikadeb7 commented on #112
Search in Google Scholar for references in research papers

[2021-02-18 12:38] kanishkaa24 commented on #113
![Face Mask Detection](https://user-images.githubusercontent.com/71253790/108358046-40fa7400-7214-11eb-93ec-24a4cf1a08d4.png)
@chandrikadeb7 Mam I have designed this.

[2021-02-18 13:05] Vrushti24 commented on #113
![facemaskdetection ai @ 51 06% (CMYK_GPU Preview)  18-02-2021 18_33_18](https://user-images.githubusercontent.com/71961160/108361037-fda20480-7217-11eb-8788-e0009e13905a.png)
@chandrikadeb7  I have tried this one if u need changes do let me know

[2021-02-19 05:37] vinamramunot-tech opened #117 "Tensorflow issue on raspberry pi"
## 🐛 Bug Report

#44 I found the solution to run this face mask detection repo on raspberry pi that has raspbian 32-bit as the operating system. I wanted to ask if you would like this solution to be documented.

[2021-02-19 06:03] chandrikadeb7 commented on #113
I like this one, we can proceed with this. Please make a PR

[2021-02-19 06:07] chandrikadeb7 commented on #117
Sure, you can document the solution!

[2021-02-19 06:08] Vrushti24 commented on #113
@chandrikadeb7 I'm glad u like it I will make PR right now thank you

[2021-02-19 06:10] #114 closed

[2021-02-19 06:11] chandrikadeb7 commented on #111
@m-code12 Assigning you this to fix this bug ASAP.

[2021-02-19 06:31] Vrushti24 commented on #113
@chandrikadeb7 added PR #118

[2021-02-19 10:56] heathcliffYang opened #119 "Cannot reproduce your result"
## 🐛 Bug Report

I run detect_mask_image.py and feed the same image as yours but I get different predictions.
The model I used is mask_detector.model you provided.
![output](https://user-images.githubusercontent.com/22412607/108495559-e7617a80-72e3-11eb-9d62-32791c6929d8.jpg)

Thank you!

[2021-02-19 17:20] muthuannamalai12 opened #120 "Bug"
When Running the GitHub action to auto-assign Mentors for every PR it displays a [warning]Resource not accessible by integration` when running against PRs and it does not auto-assign reviewers. Similar to the issue link given below👇
kentaro-m/auto-assign-action#29

[2021-02-19 17:20] muthuannamalai12 commented on #120
@chandrikadeb7  I would to work and correct it. Kindly assign me this issue as a part of DWOC.

[2021-02-20 10:47] chandrikadeb7 commented on #120
Similar issue #111

[2021-02-20 10:47] #120 closed

[2021-02-22 00:10] vinamramunot-tech commented on #117
# Face Mask Detection

## Expected Hardware
* [Raspberry Pi 4 4GB with a case](https://www.canakit.com/raspberry-pi-4-4gb.html)
* [5MP OV5647 PiCamera from Arducam](https://www.arducam.com/docs/cameras-for-raspberry-pi/native-raspberry-pi-cameras/5mp-ov5647-cameras/)

## Getting Started
* Setup the Raspberry Pi case and Operating System by following the Getting Started section on page 3 at `docume

[2021-02-22 00:13] vinamramunot-tech commented on #117
I have tested this on Raspberry Pi and it runs perfectly for me. Please test on your side and let me know if you face any issues. I would be happy to work on it 😃 fix issues.

[2021-02-23 10:15] anirudhsai20 commented on #112
Hi @chandrikadeb7 . Can I please work on this under DWOC?

[2021-02-23 15:23] chandrikadeb7 commented on #112
Proceed!

[2021-02-24 18:48] #112 closed

[2021-02-24 18:48] #113 closed

[2021-03-31 09:38] lavpreet opened #124 "Not able to access dataset"
Dataset google drive link is giving error. please look into it asap

[2021-04-02 15:30] chandrikadeb7 commented on #124
The dataset is present in codebase.

[2021-04-02 18:33] chandrikadeb7 commented on #119
I'm able to get the result perfectly. Please train the dataset and follow the setup instructions.

[2021-04-02 18:33] #119 closed

[2021-04-02 18:34] #124 closed

[2021-04-02 18:34] #101 closed

[2021-04-02 18:35] chandrikadeb7 commented on #117
Hi, if still possible can you raise a PR with an updated requirements file. Thanks.

[2021-04-02 20:39] vinamramunot-tech commented on #117
will do! thank you for giving me the opportunity.

[2021-04-02 20:41] vinamramunot-tech commented on #117
@chandrikadeb7 I do want to highlight that this is fix for raspberry pi and not for any other machine. #44 error shouldn't appear on a computer with the latest TensorFlow. Do you still want me to create a PR?

[2021-04-02 20:42] vinamramunot-tech commented on #44
@Mony24 are you running this on raspberry pi?

[2021-04-03 08:12] chandrikadeb7 commented on #117
Yes, please create a PR for this.

[2021-04-09 07:20] BhendiBoi opened #125 "Adding a CONTRIBUTING.md file"
## 📚 Documentation

A CONTRIBUTING.md file with detailed instructions on how to contribute would be awesome!

[2021-04-10 16:40] chandrikadeb7 commented on #125
Go on!

[2021-04-13 07:57] TheBlackfurGuy commented on #117
I ran into multiple issues while using a raspi 4 4GB. While running everything as documented above the first issue arises because opencv is only available in 4.1.0.* and 4.3.0.* I kind of fixed it by just using 4.3.0.* The next issue is the following:
[code]
I have no idea what that means. Why is it downloading a screensaver framework?

[2021-04-13 14:25] chandrikadeb7 commented on #117
Please use the latest committed code. The pyobjc module is removed.

[2021-04-14 08:35] TheBlackfurGuy commented on #117
Thanks for your reply, if I use the latest committed code I get the issue that was fixed with new requirements.txt

[2021-04-19 03:57] vinamramunot-tech commented on #117
@chandrikadeb7 I have started a PR #126. I am not sure why one of the checks didn't complete. Please let me know if there are any changes required.

[2021-04-19 18:14] vinamramunot-tech commented on #53
#126 PR should help with the setup instruction for raspberry pi. Not sure about Jetson Nano. @Defcon27 you are welcome to try out and see if this works on Jetson Nano.

[2021-04-20 02:59] bigAndSmall opened #127 "Dataset not found"
## 🐛 Bug Report

Hello, it sinces that the link of dataset to download shows 404 error. Could you please post another way to get it?

[2021-04-21 14:50] Allisthenics commented on #53
Good day, I and my workmate have decided to play with this project myself and we happened to find a working solution with the Raspberry Pi. However, I am working on replicating the result with my own Raspberry Pi because I only remember a part of the solution as I was working on the bugs.

To briefly explain what we have done, we installed a version of numpy that happened to work with the entire a

[2021-04-25 14:55] ingbeeedd commented on #127
So do I. Please create a new link as soon as possible

[2021-05-04 16:34] chandrikadeb7 commented on #127
@ingbeeedd Updated in Readme

[2021-05-04 16:34] #127 closed

[2021-05-15 16:30] shelyavic commented on #36
What's the solution?

[2021-05-15 16:33] shelyavic commented on #33
The link doesn't work

[2021-05-15 16:37] shelyavic commented on #33
Couldn't find the solution in that thread

[2021-05-19 08:59] maikhang opened #129 "Notice the parent directory name"
## 📚 Documentation

Make sure that the parent folder name of your repo is in Latin and has no spaces.

[2021-05-21 04:58] #129 closed

[2021-05-26 00:06] vinamramunot-tech commented on #117
@chandrikadeb7 This issue should be fixed

[2021-05-26 06:27] #117 closed

[2021-07-02 18:52] anubhav201241 opened #131 "Deployment on Heroku"
## 🐛 Bug Report

You have made a good project congratulation for that, I’m raising this issue to inform you that the face maks detection which you have deployed on Heroku is not working properly and webcam feature is also not there kindly check it and solve it hope it helps :))

[2021-07-03 16:25] chandrikadeb7 commented on #131
@AmeyaUpalanchi Please update!

[2021-07-03 17:50] inmicro commented on #53
you just need to install separate libraries on the raspi.

In addition to that, you need a picamera implementation.  Setting up mkvirtualenv on the pi is a pain.
Any way, here is my hack for the picamera:

pip install "picamera[array]"

import picamera by:
import picamera
and replace this:
vs = VideoStream(src=0).start()
with:
vs = VideoStream(usePiCamera=True).start()

This is on a really old bui

[2021-08-03 22:25] ashvinnihalani opened #133 "Publish Keras Weights"
## 🚀 Feature

Publish weights in a .h5 file similar to how other popular Keras models do in the release section

## Motivation

Enable other projects to use the model in machine learning applications.

## Pitch

Use the existing Keras [functionality](https://www.tensorflow.org/guide/keras/save_and_serialize) to post the weights to the release section of the Github page. Initially, it can be done m

[2021-08-09 16:09] zengfanhua-yourlord opened #134 "how can i add a alert sound in it？🤔"

[2021-08-10 14:55] Allisthenics commented on #53
So we've modified the requirements file to look like this
#tensorflow==2.2.0
keras==2.4.3
imutils==0.5.4
numpy==1.20.0
#opencv-python==4.5.2
matplotlib==3.4.1
argparse==1.4.0
scipy==1.4.1
scikit-learn==0.24.1
pillow==8.2.0
streamlit==0.79.0

From what we tested, the program works well with the above mentioned versions of numpy (a newer version) and scipy (an older version). It is recommended to **

[2021-08-14 21:25] neptilenn opened #135 "Frame crashes when a person gets close to the cam"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

I think these issue causes when frame (which determine our face) gets bigger.

[2021-08-18 17:22] sakshamchecker commented on #134
I want to work on this issue please assign it to me

[2021-08-18 18:11] Mikaelluc opened #136 "Delay and generation of multiple box when mask detection process is used in a system with thread process"
I'm writing a system to manage multiple cameras on a screen and process each frame detecting missing masks. For that, I use the face detection code from @chandrikadeb7 processing each camera in separated threads. But, when I access the class to make the detections at some point receive an empty frame and crash the process. I put a try-except, as in the first image below, to not crash the whole pro

[2021-08-19 16:00] shubhammanjare17 commented on #134
I want work on this issue please assign it to me @chandrikadeb7

[2021-08-25 13:00] GbotemiB opened #139 "Model Deployment in Streamlit"
## 🐛 Bug Report
Image processing in streamlit not working. Flags an error RGB-img not defined on line 116

[2021-08-29 05:35] #135 closed

[2021-09-09 15:20] MdAkdas opened #144 "module 'streamlit' has no attribute 'beta_set_page_config'"
## 🐛 Bug Report

beta_set_page_config has been renamed to set_page_config.
https://github.com/streamlit/streamlit/issues/2251#issuecomment-780713739

![image](https://user-images.githubusercontent.com/43089126/132713879-5eb0bcd9-ba8c-465b-953d-01ac90ea0dcc.png)

[2021-09-28 03:16] sreyan-ghosh commented on #144
Hi, I have made a PR that solves this issue. Please consider it as my submission towards Hacktoberfest2021. Cheers.

[2021-09-29 23:42] LeelaChacha opened #146 "Add Partial Face Mask Detection"
It is imperative that masks that are not covering the nose are also detected.
A study[1] has shown that the virus predominantly spreads through the nose.
In light of this study, if this application were to perform better in preventing the spread
of the virus in places, it must be trained to detect if a person's nose is covered.
(Provided the embedded camera (in production) is good enough)

1.
Hou

[2021-10-03 07:27] #144 closed

[2021-10-03 07:29] chandrikadeb7 opened #147 "Refactor Pull Request Workflows"
## 🚀 Feature

Please refactor and automate Pull Request greeting action without maintainer approval.

[2021-10-03 07:30] #106 closed

[2021-10-03 07:30] #111 closed

[2021-10-03 07:31] #134 closed

[2021-10-03 07:47] #125 closed

[2021-10-04 06:38] chetak123 commented on #147
Can I work on this issue please ?

[2021-10-05 11:34] royshreyaaa opened #152 "Update README.md"
## 📚 Documentation

Hello, there is a scope of improvement in the "Motivation" and "Features" paragraphs of the README.md file. I also believe that the sentence "If interested 📧 chandrikadeb7@gmail.com" could be changed to "If interested, contact me at  chandrikadeb7@gmail.com" for clarity.

I would like to update it.

Could you please assign it to me?

[2021-10-05 15:42] #152 closed

[2021-11-11 06:03] seokkim0130 opened #156 "Add Translation of README in Korean"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Hello, this is Kim Seok-Jin from Korea.

I found out your brilliant program "Face-Mask-Detection" on Github and I want to contribute to your program by translating your README file.

Our country, South Korea, started "With-COVID19" since this November with taking off mask is not allowed.

So our needs to detecting mask is v

[2021-11-14 08:12] namnaku87 opened #157 "The deployed link of your Face mask Detection project demo is not working"
## 🐛 Bug Report

Your Face Mask Detection project demo's deployed URL is not functioning.

Not working - `https://face-mask--detection-app.herokuapp.com`

Resolve the issue. Find the error below of your project demo link.

![image](https://user-images.githubusercontent.com/90440828/141673109-52fbab79-1b82-4471-9780-017f291d974a.png)

[2021-11-26 13:01] akhilkarakavalasa opened #158 "train_mask_detector.py [-h] -d DATASET [-p PLOT] [-m MODEL] train_mask_detector.py: error: the following arguments are required: -d/--dataset"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

train_mask_detector.py [-h] -d DATASET [-p PLOT] [-m MODEL]
train_mask_detector.py: error: the following arguments are required: -d/--dataset
An exception has occurred, use %tb to see the full traceback.

SystemExit: 2

  File "D:\makdetection\train_mask_detector.py", line 36, in <module>
    args = vars(ap.parse_args())

[2021-12-03 08:53] scutzhe opened #160 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize"
## 🐛 Bug Report

RTX 3090
cuda 11.1
cuDNN 8.0.5
 Failed to get convolution algorithm. This is probably because cuDNN failed to initialize

[2021-12-05 09:37] #156 closed

[2022-01-15 14:14] saifuddin123 commented on #53
Hi, i am trying to run this project on Raspberry pi 32 bit buster OS. Was able to install all the libraries with help of suggestions above, thanks to Allisthenics. Executing train_mask_detector.py , i am seeing below error. Appreciate your help.

(cv) pi@raspberrypi:~/Downloads/Face-Mask-Detection $ python3 train_mask_detector.py --dataset dataset
[INFO] loading images...
/home/pi/.virtualenvs/cv/

[2022-02-05 17:56] PINTO0309 commented on #41
https://github.com/PINTO0309/PINTO_model_zoo/tree/main/250_Face-Mask-Detection
https://github.com/PINTO0309/TensorflowLite-bin
https://github.com/PINTO0309/Tensorflow-bin

[2022-03-24 14:42] acemi1 opened #163 "windows 10 installation"
windows installation
I could not run virtualenv in windows operating system.
Is there an installation guide to run the program in windows operating system?

source : The term 'source' is not recognized as the name of a cmdlet, function, script file, or operable program. Check
 the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1

[2022-03-24 17:23] chandrikadeb7 commented on #163
https://github.com/chandrikadeb7/Face-Mask-Detection/blob/master/Windows_guide.md

[2022-03-24 17:23] #163 closed

[2022-03-25 00:29] acemi1 opened #164 "windows 10. No module named 'tensorflow.python' error"
## 🐛 Bug Report
I am using windows 10.
When I want to run the commands in the Running the project title in the windows guide, I get the error no module named tensorflow.python.
I think I have installed all the requirements.
I've attached a screenshot with information about the error I'm encountering and tensorflov.
I marked the commands I used with a blue color box.

![tensor2](https://user-images

[2022-04-03 14:13] GbotemiB commented on #139
can you assign the issue to me to fix this?

[2022-10-08 10:31] dsashishk opened #169 "zsh: illegal hardware instruction python train_mask_detector.py --dataset dataset"
## 🐛 Bug Report

I am working on mac and trying to train the model but got the error of "zsh: illegal hardware instruction  python train_mask_detector.py --dataset dataset"